.Feedback {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  overflow: hidden;
  width: 100%;
}

.Feedback__container {
  align-items: center;
  backdrop-filter: blur(5px);
  background-color: rgba(218, 109, 7, 0.375);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 25px;
  border-right: 1px solid rgba(255, 255, 255, 0.199);
  border-top: 1px solid rgba(255, 255, 255, 0.199);
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  height: 38rem;
  justify-content: center;
  line-height: 0;
  position: absolute;
  transition: 0.7s all ease;
  width: 28rem;
}

.Feedback__person {
  align-items: center;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  line-height: 0;
}

p {
  font-size: 1.5rem;
}

span {
  font-size: 2rem;
}

.Feedback__person-img {
  width: 7rem;
}

.Feedback__person img {
  border-radius: 50%;
  width: 100%;
}

.Feedback__person p {
  font-weight: 700;
}

.Feedback__btn-ranking {
  color: #26643b;
  cursor: pointer;
  margin: 20px;
  transform: none;
}

.Feedback__btn-ranking:hover {
  color: #00c21d;
  cursor: pointer;
  transform: none;
  transition: 0.5s all ease;
}

.Feedback__playAgain-btn {
  background: linear-gradient(90deg, #8095ff, #ff4885);
  border: none;
  border-radius: 45px;
  box-shadow: 1px 8px 15px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: 700;
  height: 60px;
  letter-spacing: 2.5px;
  margin-top: 1rem;
  outline: none;
  text-transform: uppercase;
  transition: all 0.3s ease 0s;
  width: 160px;
}

.Feedback__playAgain-btn:hover {
  background: linear-gradient(90deg, #90f, #e1306c);
  box-shadow: 1px 15px 20px rgba(255, 255, 255, 0.4);
  color: white;
  transform: translateY(-7px);
}

@media screen and ( max-width : 600px ) {

  .Feedback__container {
    border-radius: 1px;
    height: 100vh;
    margin-bottom: 1px;
    overflow: hidden;
    width: 100vw;
  }

  .Feedback__container:hover {
    transform: none;
  }
}
