body {
  backdrop-filter: blur(5px);
  background: rgba(0, 0, 0, 0.1) url('../assets/images/923.jpg');

  /* background-blend-mode: darken; */
  background-position: 20%;
  background-repeat: no-repeat;
  background-size: cover;
}

body::-webkit-scrollbar {
  display: none;
}
